* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    background-color: aquamarine;
    padding: 45px;
}

.container {
    max-width: 1340px;
    background-color: white;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
}

@media (max-width: 1200px) {
    .container {
        max-width: 1090px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 658px;
    }
}

@media (max-width: 576px) {
    .app {
        padding: 20px;
    }
    .container {
        max-width: 518px;
    }
}

@media (max-width: 393px) {
    .app {
        padding: 15px;
    }
}